/*
--------------
Variables
--------------
 */

:root {
  --clr-text-primary: #61dafb;
}

/*#grad1 {*/
/*  background-color: #1c0080; !* For browsers that do not support gradients *!*/
/*  background-image: linear-gradient(to bottom right, black, yellow);*/
/*}*/

.App {
  text-align: center;

}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  /*padding-top: 30px;*/
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  /*border-bottom: 1px solid var(--clr-text-primary);*/
  margin-top: 25px;
  padding: 0px;
  height: 50px;
}

.App-link {
  color: #61dafb;
  font-size: 1.2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.subheader-blue {
  color: var(--clr-text-primary);
  font-size: 1.2rem;
}

.outerspace-container {
  color: white;
  position: absolute;
  width: 90%;
  margin-left: 5%;
  margin-right: auto;
}
.outerspace-ship-text {
  margin: 1px;
  padding: 0;
}
.earth-holder {
  display: flex;
  justify-content: space-around;
  color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.earth {
  margin-top: 135px;
}

.login-container {
  padding-top: 20px;
  padding-right: 20px;
  text-align: right;
}
.login-header {
  color: lightgray;
  font-weight: bold;
  margin-right: 10px;
}
.login-input {
  background-color: gray;
  font-size: 1.2rem;
  /*font-weight: bold;*/
  padding: 3px;
  width: 150px;
}

/****** space planets/ect **********/
.space-assets {
  position: relative;
}
/***/
#stratosphere {
  color: dodgerblue;
  top: 600px;
  left: 200px;
  font-weight: bold;
  font-size: 2.5rem;
  z-index: 999;
}
#moon {
  top: 3400px;
  left: 200px;
}
#astroid {
  top:1200px;
  left: 375px;
}
#mars {
  top: 20000px;
  left: 175px;
}
#space-station {
  top: 1600px;
  left: 125px;
}
#void {
  top: 5000px;
  left: 250px;
}
#restaurant {
  top: 15000px;
  left: 200px;
}
#satellite {
  top: 1000px;
  left: 200px;
}

/****** launch form **********/
#launch-form {

}
.launch-form label {
  margin-top: 13px;
  margin-bottom: 3px;
  display: inline-block;
  font-weight: bold;
  width: 200px;
  color: #cbcbcb;
}
#launch-form input {
  font-size: 1.2rem;
  width: 200px;
  background-color: #cbcbcb;
  border: none;
  padding: 2px;
}
#launch-form button {
  padding: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 35px;
  width: 208px;
  background-color: #cbcbcb;
}
#launch-form button:hover {
  background-color: #908f8f;
  color: #212121;
  cursor: pointer;
}
.launch-error {
  color: red;
  font-size: 1.2rem;
  max-width: 207px;
  font-weight: bold;
}
.launch-reset {
  color: lightgray;
}
.launch-reset:hover {
  cursor: pointer;
  color: gray;
}
.outerspae-edit-mission {
  color: #ff9090;
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
}
.outerspae-edit-mission:hover {
  color: #ffb7b7;
  cursor: pointer;
}
.outerspace-href {
  color: #7a9af8;
  text-decoration: underline;
  font-style: italic;
}
.outerspace-href:hover {
  color: #aabdf8;
  cursor: pointer;
}

