/*
--------------
Variables
--------------
 */

:root {
  --clr-text-primary: #61dafb;
}

/*#grad1 {*/
/*  background-color: #1c0080; !* For browsers that do not support gradients *!*/
/*  background-image: linear-gradient(to bottom right, black, yellow);*/
/*}*/

.App {
  text-align: center;

}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  /*padding-top: 30px;*/
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 1px solid var(--clr-text-primary)
}

.App-link {
  color: #61dafb;
  font-size: 1.2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.subheader-blue {
  color: var(--clr-text-primary);
  font-size: 1.2rem;
}


